body{
    font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #4A4F64;
    font-size: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h1{
    margin: 2rem auto;
    font-size: 2em;
    color: #18354C;
    text-align: center;
}

p {
  font-size: 1.2em;
  color: #18354C;
  text-align: center;
  
  margin: 1rem auto;
 
}

button, #src-code, #back-to-rp {
  -webkit-appearance: button;
  background-color: #e53e1e;
  border-bottom-color: #d13618;
  border-bottom-width: 4px;
  border-color: #e53e1e;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0 1px 4px;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 30%) 0 0 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: inherit;
  line-height: 1.5;
  margin: 10px;
  overflow: visible;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-transform: inherit;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

#download {
  font-size: 2rem;
  margin: 1.5rem auto 0.2rem auto;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #6F61AD;
  text-decoration: none;
} a:hover{
  text-decoration: none;
  color: #61AD64;
}

#logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  max-width: 40rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin:auto;
  /* height: 80vh; */
}

.subtitle {
  font-size: 0.9em;
  margin-top: 10px;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.note {
  margin: 2rem 3rem;
  text-align: center;
  background-color: #FF7E73;
  padding: 1em;
  border-radius: 5px;
}

.download-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
